.cart-no {
    position: absolute;
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    background-color: #00f;
    font-size: 1em;
    color: #fff;
    top: -12px;
    right: 32px;
    text-align: center;
}